.post-content-container {
  text-align: start;
  margin-bottom: 150px
}

.post-content-container > div {
 display: flex;
 flex-direction: column;
}

.post-content-container p {
  margin-bottom: 20px;
}

.post-content-container :is(h1, h2, h3, h4, h5, h6) {
    font-weight: bold;
}
  
.post-content-container pre {
  border-radius: 0px 0px 6px 6px;
  margin-bottom: 10px;
}

.post-content-container img {
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-content-container a {
  text-decoration: underline;
}

.post-content-container a:hover {
  text-decoration: none;
}

.post-content-container iframe {
  min-width: 90vw !important;
  min-height: 80vh !important;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.332) 0px 6px 16px;
}

.post-content-container .note-container {
  background-color: var(--background-4);
  padding: 15px;
  border-radius: 6px;
  font-size: var(--small-font-size);
  color: var(--text-secondary-color);
}

.note-container i {
  font-size: var(--normal-font-size);
}

.post-content-container .nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-family: var(--normal-font);
  border: none;
}

.post-content-container .nav-link.active {
  background-color: var(--background-secondary-color);
  color: var(--primary-text-color);
}

.post-content-container .nav-link:hover:not(.active) {
  background-color: var(--background-secondary-color);
  filter: brightness(70%);
}

.post-content-container .btn {
  background-color: var(--primary-text-color);
  color: var(--background-color);
  box-shadow: none !important;
  border: 2px solid var(--primary-text-color);
  transition: all .5s;
}

.post-content-container .btn.active {
  background-color: transparent;
  color: var(--primary-text-color);
  font-weight: bold;
}

.post-content-container .nav.nav-tabs {
  border-color: var(--bs-border-color);
}