.timeline-container {
  padding-top: 20px;
  min-height: calc(100vh - 118px);
}

.timeline-separator {
  width: 2px;
  background-color: var(--background-secondary-color);
  min-height: 40px;
}

.timeline-icon {
  border-radius: 6px;
  min-height: 40px;
  background-color: var(--background-secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  transition: all 0.5s;
  user-select: none;
  padding: 8px 10px 8px 10px;
  font-size: 22px;
}

.timeline-separator-container {
  width: 40px;
  display: flex;
  flex-grow:1;
  justify-content: center;
}

.post-title {
  display: flex;
  border-radius: 6px;
  min-height: 40px;
  width: fit-content;
  background-color: var(--background-secondary-color);
  transition: all 0.5s;
  padding: 10px;
}

.post-row-hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 16px;
  cursor: pointer;

}

.main-back-button {
  position: sticky;
  top: 60px;
  left: 100px;
  width: 105px;
}

.main-back-button button {
  background-color: var(--background-secondary-color);
  color: var(--primary-text-color);
}