.navbar, .footer-container {
  background-color: var(--secondary-color) !important;
  color: var(--primary-text-color) !important;
  height: 59px !important;
  z-index: 1000;
}

.footer-box {
  bottom: 0 !important;
  width: 100%;
}

#navbar-search-field {
  width: 450px !important;
}
.footer-container {
  display: flex;
}

.footer-container > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar button, .footer-container button {
  color: var(--text-primary-color);
}