/* Google Font Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Google Font Source Code Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --primary-text-color: #1a1a1a;
  --text-secondary-color: #404040;

  --background-color:#f6f6f6;
  --background-secondary-color:#eaeaea;
  --background-3-color:#c5c5c5;
  --background-4:#ffe9a0;

  --primary-color : #ececec;
  --secondary-color: #eeeeee;

  --normal-font: 'Poppins', 'Roboto', 'Oxygen', sans-serif;
  --code-font: 'Source Code Pro', monospace;

  --normal-font-size: 18px;
  --small-font-size: 15px;

}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

a:hover {
  text-decoration: underline;
  color: var(--secondaty-text-color);
}

a.no-hover {
  text-decoration: none;
}

p {
  margin-bottom: 0px;
}

body {
  background-color: var(--background-color);
  margin: 0;
  font-family: var(--normal-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary-color);
  font-size: var(--normal-font-size);
}

code {
  font-family: var(--code-font);
  background-color: var(--background-secondary-color) !important;
}

input {
  background-color: var(--background-color) !important;
  color: var(--text-primary-color) !important;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background: #5f5f5f;
}
::-webkit-scrollbar-thumb {
  background: #bababa;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}